In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

### <b> Task 1

In [2]:
df = pd.read_csv('hockey_players.csv')

In [3]:
df.head()

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111
3,2001,RUS,28,zhdan alexander,D,R,178,85.0,1971-08-28,ak bars kazan,29.675565,1971,26.827421
4,2001,RUS,32,orekhovsky oleg,D,R,175,88.0,1977-11-03,dynamo moscow,23.490760,1977,28.734694

In [7]:
countries = ['FIN', 'NOR', 'DEN']
y_height = [df.loc[df['country'] == country, 'height'] for country in countries]
y_bmi = [df.loc[df['country'] == country, 'bmi'] for country in countries]

* F-test of height

In [22]:
k = len(countries)
n = sum([y.shape[0] for y in y_height])

k1 = k - 1
k2 = n - k

alpha = 0.05
t = stats.f.ppf(1-alpha, k1, k2)

f_stat, pval = stats.f_oneway(*y_height)[:2]

if f_stat > t:
    print('Нулевая гипотеза отклоняется, статистика попала в крит. область')
else:
    print('Нулевая гипотеза принимается')

Нулевая гипотеза отклоняется, статистика попала в крит. область

* F-test of bmi

In [23]:
k = len(countries)
n = sum([y.shape[0] for y in y_bmi])

k1 = k - 1
k2 = n - k

alpha = 0.05
t = stats.f.ppf(1-alpha, k1, k2)

f_stat, pval = stats.f_oneway(*y_bmi)[:2]

if f_stat > t:
    print('Нулевая гипотеза отклоняется, статистика попала в крит. область')
else:
    print('Нулевая гипотеза принимается')

Нулевая гипотеза отклоняется, статистика попала в крит. область

* Различия роста и bmi статистически значимы.